body {
  min-width: 320
px
;
  color: #2b2b2e;
  font-family: "FOT-筑紫Aオールド明朝 Pr6 M","FOT-筑紫Aオールド明朝 Pr6 B","Heldane Text",serif;
  font-weight: 400;
}
body {
  margin: 0;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
body {
  display: block;
  margin: 8px;
}
html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: #b77e7e00;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}